html {
  font-family: 'Press Start 2P', cursive;
}
body {
  background-color: black;
  color: #5024cc;
  
}

@font-face {
  font-family: 'apple_regular';
  src: url('/css/fonts/apple_-webfont.woff2') format('woff2'),
       url('/css/fonts/apple_-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
.navblock{
  font-family: 'Press Start 2P', cursive;
}
